{% extends "page.html" %}

{% block title %}
  {{ this.name }} |
{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{{ '/css/board.css'|asseturl }}">
{% endblock %}

{% block heading %}
  <h1>{{ this.name }}</h1>
{% endblock %}

{% block content %}
  <section class="board-details clearfix">
    <p class="image">
      <img class="img-fluid" src="{{ '/images/' + this.image }}"
           alt="{{ this.name }}"/>
    </p>

    <p>{{ this.description }}</p>

    {% if this.wiki_link %}
      <p>
        {% trans trimmed wiki_link=this.wiki_link %}
          See <a href="{{ wiki_link }}" alt="Link to board instructions on FreedomBox Wiki">instructions
          </a> on how to build your own FreedomBox by downloading and setting up
          on this hardware.
        {% endtrans %}
      </p>
    {% endif %}
  </section>

  <section id="download-section">

    <div class="card-deck">
      {% if this.stable_image %}
        <div class="card">
          <div class="card-header">
            <h3 class="card-text">{{ _("Stable") }}</h3>
            <p>{{ _("Latest of the two-year releases, gets updated with security fixes and some new (backported) features") }}</p>
          </div>
          <div class="card-body">
            <div class="buttons">
              <a class="btn btn-primary" role="button"
                 href="{{ this.stable_image }}">{{ _("Download image") }}</a>
              <a href="{{ this.stable_signature }}">{{ _("Signature") }}</a>
              <a href="https://wiki.debian.org/FreedomBox/Download#Verifying_the_Downloaded_Images">
                <span class="fa fa-question-circle-o" aria-hidden="true"></span>
              </a>
            </div>

            <p class="download-tags">
              {% for tag in this.stable_tags %}
                <span class="download-tag">{{ tag }}</span>
              {% endfor %}
            </p>
          </div>
        </div>
      {% endif %}

      {% if this.testing_image %}
        <div class="card">
          <div class="card-header">
            <h3 class="card-text">{{ _("Testing") }}</h3>
            <p>{{ _("Rolling release with all the latest features") }}<p>
          </div>
          <div class="card-body">
            <div class="buttons">
              <a class="btn btn-primary" role="button"
                 href="{{ this.testing_image }}">{{ _("Download image") }}</a>
              <a href="{{ this.testing_signature }}">{{ _("Signature") }}</a>
              <a href="https://wiki.debian.org/FreedomBox/Download#Verifying_the_Downloaded_Images">
                <span class="fa fa-question-circle-o" aria-hidden="true"></span>
              </a>
            </div>

            <p class="download-tags">
              {% for tag in this.testing_tags %}
                <span class="download-tag">{{ tag }}</span>
              {% endfor %}
            </p>
          </div>
        </div>
      {% endif %}
    </div>

    {% if this.more_images %}
      <p>
        {% trans trimmed more_images=this.more_images %}
          See <a href="{{ more_images }}">more download options</a>.
        {% endtrans %}
      </p>
    {% endif %}

  </section>
{% endblock %}
