{% extends "page.html" %}

{% block content %}
  <section>
    {{ this.body }}
  </section>

  <section>
    <p class="image">
      <img class="img-fluid" src="{{ '/images/pioneer-edition.png'|asseturl }}"
           alt="{{ _("FreedomBox Pioneer edition") }}" />
    </p>
  </section>

  <section>
    <div class="button-row">
      <a href="https://www.olimex.com/Products/OLinuXino/Home-Server/Pioneer-FreedomBox-HSK/"
         role="button" class="btn btn-lg btn-primary">
        {{ _("Order now") }}
      </a>
    </div>
    <div class="button-row">
      <a href="https://discuss.freedombox.org/c/pioneer-support/"
         class="btn btn-sm btn-outline-secondary" role="button">
        {{ _("Support Forum") }}</a>
      <a href="https://freedomboxfoundation.org/donate/"
         class="btn btn-sm btn-outline-secondary" role="button">
        {{ _("Donate") }}</a>
    </div>
  </section>
{% endblock %}
